<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<appSettings>
		<add key="MaxThreads" value="100"/>
		<add key="ListeningQueue" value=".\PRIVATE$\DocumentVaultDownloadFileProcessing"/>
		<add key="PollingInterval" value="500"/>
	</appSettings>
	<connectionStrings>
		<add name="EZMoveConnectionString" connectionString="server=localhost;User Id=root;password=Vstlvstl1!;database=ezmove" providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
</configuration>