<div ui-view>
    <!--<table class="table table-hover">
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr editable-text="Mundru">
                <td><a ui-sref=".details">Srinivas</a></td>
                <td>Mundru</td>
                <td>srinivas.mundru@gmail.com</td>
                <td><i class="fa fa-trash fa-2x"></i></td>
            </tr>
            <tr>
                <td><a href="#">Ayyappa</a></td>
                <td>Yellapu</td>
                <td>ayyappa.yellapu@gmail.com</td>
                <td><i class="fa fa-trash fa-2x"></i></td>
            </tr>
            <tr>
                <td><a href="#">Raghu</a></td>
                <td>Nedunuri</td>
                <td>raghavendra.nedunuri@gmail.com</td>
                <td><i class="fa fa-trash fa-2x"></i></td>
            </tr>
        </tbody>
    </table>-->

    <table class="table table-hover ">
        <tr style="font-weight: bold">
            <td >FIRST NAME</td>
            <td >LAST NAME</td>
            <td >EMAIL</td>
            <td >ACTION</td>
        </tr>
        <tr ng-repeat="user in users">
            <td>
                <!-- editable username (text with validation) -->
                <span editable-text="user.name" e-name="firstname" e-form="rowform">
                    {{ user.firstname || 'empty' }}
                </span>
            </td>
            <td>
                <!-- editable status (select-local) -->
                <span editable-text="user.status" e-name="lastname" e-form="rowform">
                   {{ user.lastname || 'empty' }}
                </span>
            </td>
            <td>
                <!-- editable group (select-remote) -->
                <span editable-text="user.group" e-name="email" e-form="rowform">
                    {{ user.email || 'empty' }}
                </span>
            </td>
            <td style="white-space: nowrap">
                <!-- form -->
                <form editable-form name="rowform" onbeforesave="saveUser($data, user.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == user">
                    <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-info">
                        SAVE
                    </button>
                    <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                        CANCEL
                    </button>
                </form>
                <div class="buttons" ng-show="!rowform.$visible">
                    <button type="button" class="btn btn-info" ng-click="rowform.$show()"><i class="fa fa-edit"></i></button>
                    <button type="button" class="btn btn-danger" ng-click="removeUser($index)"><i class="fa fa-trash"></i></button>
                </div>
            </td>
        </tr>
    </table>
</div>

